/* кнопки */

$default-color: #b0b0b0;
$primary-color: #2B6CC4;
$success-color: #478430;
$danger-color: #CC3333;

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: .5rem 1.5rem;
	border: 1px solid $default-color;
	color: darken($default-color, 30%);
	transition: all .3s ease 0s;
	border-radius: 100px;
	min-width: 100px;
	&:hover {
		background: lighten($default-color, 15%);
	}

	span {
		
	}
}

.primary-button {
	border: 0;
	background: $primary-color;
	color: #FFF;

	&:hover {
		background: lighten($primary-color, 15%);
	}

}

.danger-button {
	border: 0;
	background: $danger-color;
	color: #FFF;

	&:hover {
		background: lighten($danger-color, 15%);
	}
}

.success-button {
	border: 0;
	background: $success-color;
	color: #FFF;

	&:hover {
		background: lighten($success-color, 15%);
	}
}

.stacked {
	display: flex;
	padding: 0;

	.button {
		border-radius: 0;
	}

	.button:first-child {
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;
	}

	.button:last-child {
		border-top-right-radius: 100px;
		border-bottom-right-radius: 100px;
	}
}