/* форма */

$border-color: #b0b0b0;

form {

	label{
		
	}

	input[type="text"], input[type="password"], select {
		border: 1px solid $border-color;
		padding: .5rem;
	}

::-webkit-input-placeholder {
  color: #b0b0b0;
}

::-moz-placeholder {
  color: #b0b0b0;
}

:-moz-placeholder {
  color: #b0b0b0;
}

:-ms-input-placeholder {
  color: #b0b0b0;
}

}